In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('MultiLinReg.csv')
df1

   x1  x2     y
0   3   8  -3.7
1   4   5   3.5
2   5   7   2.5
3   6   3  11.5
4   2   1   5.7

In [3]:
x1_avg = df1.x1.mean()
x1_avg

4.0

In [4]:
x2_avg = df1.x2.mean()
x2_avg

4.8

In [5]:
y_avg = df1.y.mean()
y_avg

3.9

In [6]:
df1['x1x1'] = df1['x1']**2
df1['x2x2'] = df1['x2']**2
df1['x1x2'] = df1['x1']*df1['x2']
df1['x1y']= df1['x1']*df1['y']
df1['x2y']= df1['x2']*df1['y']
df1

   x1  x2     y  x1x1  x2x2  x1x2   x1y   x2y
0   3   8  -3.7     9    64    24 -11.1 -29.6
1   4   5   3.5    16    25    20  14.0  17.5
2   5   7   2.5    25    49    35  12.5  17.5
3   6   3  11.5    36     9    18  69.0  34.5
4   2   1   5.7     4     1     2  11.4   5.7

In [7]:
x1s = df1.x1.sum()
x2s = df1.x2.sum()
ys = df1.y.sum()
x1x1s = df1.x1x1.sum()
x2x2s = df1.x2x2.sum()
x1x2s = df1.x1x2.sum()
x1ys = df1.x1y.sum()
x2ys = df1.x2y.sum()

In [8]:
p = x1x1s - (x1s**2)/5
q = x2x2s - (x2s**2)/5
r = x1ys - (x1s*ys)/5
s = x2ys - (x2s*ys)/5
t = x1x2s - (x1s*x2s)/5

In [9]:
b1 = (q*r - t*s)/(p*q-t**2)
b1

2.2816300940438885

In [10]:
b2 = (p*s - t*r)/(p*q-t**2)
b2

-1.6721003134796237

In [11]:
a = y_avg - b1*x1_avg - b2*x2_avg
a

2.7995611285266406

In [12]:
print('Linear Regression equation:','y = ',a,' + ',b1,'x1 + ',b2,'x2')

Linear Regression equation: y =  2.7995611285266406  +  2.2816300940438885 x1 +  -1.6721003134796237 x2

In [13]:
y_ = a + b1*3 + b2*2
print ('When x1=3 and x2=2, y= ', y_)

When x1=3 and x2=2, y=  6.300250783699058

## Q2. Random integer dataset

In [14]:
import random
n=10
x2=[]
for i in range(n):
    x2.append(random.randint(1,10))
    
y=[]
n=10
for i in range(n):
    y.append(random.randint(5,15))

In [15]:
x2

[2, 5, 5, 10, 4, 6, 5, 1, 6, 5]

In [16]:
y

[15, 12, 5, 11, 13, 12, 11, 13, 13, 13]

In [17]:
mlr = {'x1':[1,2,3,4,5,6,7,8,9,10], 'x2':x2, 'y':y}
mlr

{'x1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'x2': [2, 5, 5, 10, 4, 6, 5, 1, 6, 5],
 'y': [15, 12, 5, 11, 13, 12, 11, 13, 13, 13]}

In [18]:
df2 = pd.DataFrame(mlr) 
df2

   x1  x2   y
0   1   2  15
1   2   5  12
2   3   5   5
3   4  10  11
4   5   4  13
5   6   6  12
6   7   5  11
7   8   1  13
8   9   6  13
9  10   5  13

In [19]:
x1_avg = df2.x1.mean()
x1_avg

5.5

In [20]:
x2_avg = df2.x2.mean()
x2_avg

4.9

In [21]:
y_avg = df2.y.mean()
y_avg

11.8

In [22]:
df2['x1x1'] = df2['x1']**2
df2['x2x2'] = df2['x2']**2
df2['x1x2'] = df2['x1']*df2['x2']
df2['x1y']= df2['x1']*df2['y']
df2['x2y']= df2['x2']*df2['y']
df2

   x1  x2   y  x1x1  x2x2  x1x2  x1y  x2y
0   1   2  15     1     4     2   15   30
1   2   5  12     4    25    10   24   60
2   3   5   5     9    25    15   15   25
3   4  10  11    16   100    40   44  110
4   5   4  13    25    16    20   65   52
5   6   6  12    36    36    36   72   72
6   7   5  11    49    25    35   77   55
7   8   1  13    64     1     8  104   13
8   9   6  13    81    36    54  117   78
9  10   5  13   100    25    50  130   65

In [23]:
x1s = df2.x1.sum()
x2s = df2.x2.sum()
ys = df2.y.sum()
x1x1s = df2.x1x1.sum()
x2x2s = df2.x2x2.sum()
x1x2s = df2.x1x2.sum()
x1ys = df2.x1y.sum()
x2ys = df2.x2y.sum()

In [24]:
p = x1x1s - (x1s**2)/5
q = x2x2s - (x2s**2)/5
r = x1ys - (x1s*ys)/5
s = x2ys - (x2s*ys)/5
t = x1x2s - (x1s*x2s)/5

In [25]:
b1 = (q*r - t*s)/(p*q-t**2)
b1

1.3330211373769136

In [26]:
b2 = (p*s - t*r)/(p*q-t**2)
b2

1.2703916348590298

In [27]:
a = y_avg - b1*x1_avg - b2*x2_avg
a

-1.7565352663822713

In [28]:
print('Linear Regression equation is:')
print('y = ',a,' + ',b1,'x1 + ',b2,'x2')

Linear Regression equation is:
y =  -1.7565352663822713  +  1.3330211373769136 x1 +  1.2703916348590298 x2

In [29]:
y_ = a + b1*6 + b2*(-2)
print ('When x1=6 and x2=-2, y= ', y_)

When x1=6 and x2=-2, y=  3.7008082881611504

## Q3. Random float dataset

In [30]:
import random
x2=[]
n=10
for i in range(n):
    x2.append(round(random.uniform(1,10),2))
    
y=[]
n=10
for i in range(n):
    y.append(round(random.uniform(5,15),2))

[6.49, 7.65, 3.32, 4.3, 2.45, 9.72, 4.52, 5.13, 4.78, 5.26]
[9.66, 5.94, 14.14, 13.14, 13.85, 8.04, 6.21, 7.15, 6.04, 13.64]

In [31]:
x2

[6.49, 7.65, 3.32, 4.3, 2.45, 9.72, 4.52, 5.13, 4.78, 5.26]

In [32]:
y

[9.66, 5.94, 14.14, 13.14, 13.85, 8.04, 6.21, 7.15, 6.04, 13.64]

In [33]:
mlr = {'x1':[1,2,3,4,5,6,7,8,9,10], 'x2':x2, 'y':y}
mlr

{'x1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'x2': [6.49, 7.65, 3.32, 4.3, 2.45, 9.72, 4.52, 5.13, 4.78, 5.26],
 'y': [9.66, 5.94, 14.14, 13.14, 13.85, 8.04, 6.21, 7.15, 6.04, 13.64]}

In [34]:
df3 = pd.DataFrame(mlr) 
df3

   x1    x2      y
0   1  6.49   9.66
1   2  7.65   5.94
2   3  3.32  14.14
3   4  4.30  13.14
4   5  2.45  13.85
5   6  9.72   8.04
6   7  4.52   6.21
7   8  5.13   7.15
8   9  4.78   6.04
9  10  5.26  13.64

In [35]:
x1_avg = df3.x1.mean()
x1_avg

5.5

In [36]:
x2_avg = df3.x2.mean()
x2_avg

5.362

In [37]:
y_avg = df3.y.mean()
y_avg

9.781

In [38]:
df3['x1x1'] = df3['x1']**2
df3['x2x2'] = df3['x2']**2
df3['x1x2'] = df3['x1']*df3['x2']
df3['x1y']= df3['x1']*df3['y']
df3['x2y']= df3['x2']*df3['y']
df3

   x1    x2      y  x1x1     x2x2   x1x2     x1y      x2y
0   1  6.49   9.66     1  42.1201   6.49    9.66  62.6934
1   2  7.65   5.94     4  58.5225  15.30   11.88  45.4410
2   3  3.32  14.14     9  11.0224   9.96   42.42  46.9448
3   4  4.30  13.14    16  18.4900  17.20   52.56  56.5020
4   5  2.45  13.85    25   6.0025  12.25   69.25  33.9325
5   6  9.72   8.04    36  94.4784  58.32   48.24  78.1488
6   7  4.52   6.21    49  20.4304  31.64   43.47  28.0692
7   8  5.13   7.15    64  26.3169  41.04   57.20  36.6795
8   9  4.78   6.04    81  22.8484  43.02   54.36  28.8712
9  10  5.26  13.64   100  27.6676  52.60  136.40  71.7464

In [39]:
x1s = df3.x1.sum()
x2s = df3.x2.sum()
ys = df3.y.sum()
x1x1s = df3.x1x1.sum()
x2x2s = df3.x2x2.sum()
x1x2s = df3.x1x2.sum()
x1ys = df3.x1y.sum()
x2ys = df3.x2y.sum()

In [40]:
p = x1x1s - (x1s**2)/5
q = x2x2s - (x2s**2)/5
r = x1ys - (x1s*ys)/5
s = x2ys - (x2s*ys)/5
t = x1x2s - (x1s*x2s)/5

In [41]:
b1 = (q*r - t*s)/(p*q-t**2)
b1

0.8972550794806778

In [42]:
b2 = (p*s - t*r)/(p*q-t**2)
b2

1.1691188162723543

In [43]:
a = y_avg - b1*x1_avg - b2*x2_avg
a

-1.4227180299960915

In [44]:
print('Linear Regression equation is:','y = ',a,' + ',b1,'x1 + ',b2,'x2')

Linear Regression equation is: y =  -1.4227180299960915  +  0.8972550794806778 x1 +  1.1691188162723543 x2

In [45]:
y_ = a + b1*6.73 + b2*(-2.11)
print ('When x1=6.73 and x2=-2.11, y= ', y_)

When x1=6.73 and x2=-2.11, y=  2.1489679525742034